
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo{
  margin: 60px 0 0 60px; 
}
.centraldiv{
  margin: 0 auto;
width: 560px;
height: 611px;
background: #FFFFFF;
box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
border-radius: 15px;
text-align: center;
}
.innerbox{
margin: 40px 0 24px 0;
 }
.line1{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 30px;
text-align: center;
color: #212121;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0 91px 16px 91px;
}
.line2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #545454;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}
.line3{
  font-family: 'Inter', sans-serif;
  font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #545454;
margin-left:91px ;
}
.line4{
  margin-top: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #545454;
margin-left:91px ;
}
.box1{
 
display: flex;
margin-left:91px ;
height: 37px;
width: 368px;
padding: 10px 12px 10px 12px;
background: #FFFFFF;
border: 1px solid #CED4DA;
border-radius: 6px;
margin-top: 8px;
}
 .time{

  border: none;
  overflow: hidden;
  margin-left: 10px;
  height: 61px;
  margin-top: 8px;

}
.time::-moz-focus-inner {
  border: 0;
}
.time:focus {
  outline: none;

}
.time option{
  font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
  width:fit-content;
  
  padding: 4px 8px 4px 8px;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  background: #F0F0F0;
  border-radius: 2px;
  
}
.lastbutton{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 40px;

width: 368px;
height: 36px;
background: #3766E8;
border-radius: 5px;
flex: none;
order: 2;
flex-grow: 0;
margin: 24px 0px;
border: none;
color: #FFFFFF;
cursor: pointer;
}
.last{
  margin: 0 auto;
  width: 560px;
  border-radius: 15px;
  text-align: center;;
  margin-top: 121px;
}